.Hintergrund {
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

nav {
  background: grey;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}
.rezepteDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rezepteDiv h2 {
  color: white;

  border-bottom: 2px solid white;
  text-align: center;
  padding: 8px;
  font-size: 30px;
  border: 2px solid gray;
  width: 100%;
  font-family: Verdana;
}
.category {
  border: 2px solid gray;

  margin-top: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em 3em;
}
.category img {
  width: 30%;
  height: 50vh;
}
.category div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2em;
}
.category p {
  margin-left: 2em;
}
.categoryInverse {
  border: 2px solid gray;

  width: 90%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em 3em;
}
.categoryInverse img {
  width: 30%;
  height: 50vh;
}
.categoryInverse div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2em;
}
.categoryInverse p {
  margin-right: 2em;
}
.categoryInverse:hover {
  background-color: rgba(158, 155, 155, 0.226);
}
.category:hover {
  background-color: rgba(158, 155, 155, 0.226);
}
.categoryInverse h3 {
  margin-bottom: 2em;
}
.category h3 {
  margin-bottom: 2em;
}
